<a href="https://colab.research.google.com/github/rwemafre/222016926_WT_26_march_2024_B/blob/main/practice_G34_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color="red">This is the practice of handling Big data processing using Pyspark<font>

In [1]:
#### The following codes will print our Names and regNum
print("Names:Rwema Fred")
print("RegNum: 222016926")
print("Group: BIT 3")

Names:Rwema Fred
RegNum: 222016926
Group: BIT 3

# improting Pyspark Package

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [3]:
## check pyspark
import pyspark

# Start/initiate spark session

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('practice-g34').getOrCreate()

In [6]:
## to check all related to the create spark
spark

##3. connect our dataset to the Google drive at of our data set location

##4. read Dataset

In [10]:
df = spark.read.csv("/content/drive/MyDrive/BIT3-4_SPARK_PRACTICE222016926", header=True)

In [9]:
### How to read
df.show()

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-------+-------+-----+---------------+-----------------+
|        _c0|_c1|   _c2|                _c3|           _c4|        _c5|   _c6|        _c7|          _c8|               _c9|   _c10|   _c11| _c12|           _c13|             _c14|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-------+-------+-----+---------------+-----------------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|   Debt|Overdue| Loan|Returned Cheque|Dishonour of Bill|
|    IB14001| 30|  MALE|       BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|           HOUSING|428,980|      5|50000|              6|                9|
|    IB14008| 44|  MALE|          PROFESSOR|       MARRIED|          6| 51000|      19999|            4|          SHOPPING|428,980|      3|51000|              1|                5|
|    IB14012| 30|FEMALE|            DENTIST|        SINGLE|          3| 58450|      27675|            5|        TRAVELLING|428,980|      6|58450|              3|                1|
|    IB14018| 29|  MALE|            TEACHER|       MARRIED|          5| 45767|      12787|            3|         GOLD LOAN| 13,000|      7|45767|              0|                4|
|    IB14022| 34|  MALE|             POLICE|        SINGLE|          4| 43521|      11999|            3|        AUTOMOBILE| 13,000|      2|43521|              1|                2|
|    IB14024| 55|FEMALE|              NURSE|       MARRIED|          6| 34999|      19888|            4|        AUTOMOBILE| 33,333|      1|34999|              0|                3|
|    IB14025| 39|FEMALE|            TEACHER|       MARRIED|          6| 46619|      18675|            4|           HOUSING| 33,333|      8|46619|              6|                8|
|    IB14027| 51|  MALE|     SYSTEM MANAGER|       MARRIED|          3| 49999|      19111|            5|       RESTAURANTS| 33,333|      8|49999|              2|                5|
|    IB14029| 24|FEMALE|            TEACHER|        SINGLE|          3| 45008|      17454|            4|        AUTOMOBILE| 33,333|      9|45008|              4|                7|
|    IB14031| 37|FEMALE|  SOFTWARE ENGINEER|       MARRIED|          5| 55999|      23999|            5|        AUTOMOBILE| 33,333|      2|55999|              5|                3|
|    IB14032| 24|  MALE|       DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|        AUTOMOBILE| 33,333|      5|60111|              1|                2|
|    IB14034| 32|  MALE|   PRODUCT ENGINEER|       MARRIED|          6|  NULL|      29000|            7|COMPUTER SOFTWARES| 33,333|      6| NULL|              5|                4|
|    IB14037| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|       RESTAURANTS| 33,333|      1|48099|              7|                5|
|    IB14039| 45|  MALE|    ACCOUNT MANAGER|       MARRIED|          7| 45777|      18452|            4|         GOLD LOAN| 33,333|      7|45777|              8|                1|
|    IB14041| 59|FEMALE|ASSISTANT PROFESSOR|       MARRIED|          4| 50999|      22999|            5|  EDUCATIONAL LOAN| 33,333|      3|50999|              9|                9|
|    IB14042| 25|FEMALE|             DOCTOR|        SINGLE|          4| 60111|      27111|            5|        TRAVELLING| 33,333|      4|60111|              1|                0|
|    IB14045| 31|  MALE|       STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|       BOOK STORES|210,000|      1|40999|              0|                1|
|    IB14049| 49|  MALE|       BANK MANAGER|       MARRIED|          4| 45999|      14500|            4|        TRAVELLING| 21,000|      4|45999|              7|                3|
|    IB14050| 56|  MALE|     CIVIL ENGINEER|       MARRIED|          4|  NULL|      13999|            3|           HOUSING| 21,000|      6| NULL|              4|                2|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-------+-------+-----+---------------+-----------------+
only showing top 20 rows

#5. To Check data types

In [11]:
df.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- Expenditure: string (nullable = true)
 |-- Use Frequency: string (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Debt: string (nullable = true)
 |-- Overdue: string (nullable = true)
 |-- Loan: string (nullable = true)
 |-- Returned Cheque: string (nullable = true)
 |-- Dishonour of Bill: string (nullable = true)

### How to correct data types

In [12]:
df = spark.read.csv("/content/drive/MyDrive/BIT3-4_SPARK_PRACTICE222016926", header=True, inferSchema=True)

In [13]:
df.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)
 |-- Use Frequency: integer (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Debt: string (nullable = true)
 |-- Overdue: integer (nullable = true)
 |-- Loan: integer (nullable = true)
 |-- Returned Cheque: integer (nullable = true)
 |-- Dishonour of Bill: integer (nullable = true)

In [14]:
df.describe().show()

+-------+-----------+------------------+------+-----------------+--------------+----------------+-----------------+------------------+------------------+-------------+-------+------------------+-----------------+-----------------+------------------+
|summary|Customer_ID|               Age|Gender|       Occupation|Marital Status|     Family Size|           Income|       Expenditure|     Use Frequency|Loan Category|   Debt|           Overdue|             Loan|  Returned Cheque| Dishonour of Bill|
+-------+-----------+------------------+------+-----------------+--------------+----------------+-----------------+------------------+------------------+-------------+-------+------------------+-----------------+-----------------+------------------+
|  count|        646|               646|   646|              646|           500|             500|              468|               481|               500|          500|    500|               500|              468|              500|               500|
|   mean|       NULL| 38.15015479876161|  NULL|67.73287671232876|          NULL|            4.55|68339.49145299145|27533.180873180874|              5.33|         NULL|   NULL|             4.974|68339.49145299145|             4.12|              4.31|
| stddev|       NULL|11.118560150530348|  NULL|7.888263736140052|          NULL|1.54280929509842|86796.49367750238|10209.599414813816|2.0487789021707443|         NULL|   NULL|2.4919356907781443|86796.49367750238|2.777233524949641|2.6160250714296875|
|    min|    1B14093|                17|     F|               51|       MARRIED|               2|            28366|              9000|                 2|  AGRICULTURE| 13,000|                 1|            28366|                0|                 0|
|    max|     ZIPOLA|                60|  MALE|       TECHNICIAN|        SINGLE|               7|           930000|             62541|                 9|   TRAVELLING|428,980|                 9|           930000|                9|                10|
+-------+-----------+------------------+------+-----------------+--------------+----------------+-----------------+------------------+------------------+-------------+-------+------------------+-----------------+-----------------+------------------+

In [15]:
df.summary().show()

+-------+-----------+------------------+------+-----------------+--------------+----------------+-----------------+------------------+------------------+-------------+-------+------------------+-----------------+-----------------+------------------+
|summary|Customer_ID|               Age|Gender|       Occupation|Marital Status|     Family Size|           Income|       Expenditure|     Use Frequency|Loan Category|   Debt|           Overdue|             Loan|  Returned Cheque| Dishonour of Bill|
+-------+-----------+------------------+------+-----------------+--------------+----------------+-----------------+------------------+------------------+-------------+-------+------------------+-----------------+-----------------+------------------+
|  count|        646|               646|   646|              646|           500|             500|              468|               481|               500|          500|    500|               500|              468|              500|               500|
|   mean|       NULL| 38.15015479876161|  NULL|67.73287671232876|          NULL|            4.55|68339.49145299145|27533.180873180874|              5.33|         NULL|   NULL|             4.974|68339.49145299145|             4.12|              4.31|
| stddev|       NULL|11.118560150530348|  NULL|7.888263736140052|          NULL|1.54280929509842|86796.49367750238|10209.599414813816|2.0487789021707443|         NULL|   NULL|2.4919356907781443|86796.49367750238|2.777233524949641|2.6160250714296875|
|    min|    1B14093|                17|     F|               51|       MARRIED|               2|            28366|              9000|                 2|  AGRICULTURE| 13,000|                 1|            28366|                0|                 0|
|    25%|       NULL|              29.0|  NULL|             62.0|          NULL|               3|            45213|             19888|                 4|         NULL|   NULL|                 3|            45213|                2|                 2|
|    50%|       NULL|              38.0|  NULL|             68.0|          NULL|               5|            55680|             25670|                 5|         NULL|   NULL|                 5|            55680|                4|                 4|
|    75%|       NULL|              46.0|  NULL|             74.0|          NULL|               6|            73656|             33239|                 7|         NULL|   NULL|                 7|            73656|                6|                 6|
|    max|     ZIPOLA|                60|  MALE|       TECHNICIAN|        SINGLE|               7|           930000|             62541|                 9|   TRAVELLING|428,980|                 9|           930000|                9|                10|
+-------+-----------+------------------+------+-----------------+--------------+----------------+-----------------+------------------+------------------+-------------+-------+------------------+-----------------+-----------------+------------------+